### Задание 1

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
salary = np.array[100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150]

TypeError: 'builtin_function_or_method' object is not subscriptable

Среднее арифметическое

In [22]:
mean = salary.sum() / salary.count()

AttributeError: 'list' object has no attribute 'sum'

In [4]:
salary_mean = salary.sum() / salary.size

AttributeError: 'list' object has no attribute 'sum'

СКО

In [6]:
(np.sum((salary - salary_mean)**2) / salary.size-1)

NameError: name 'salary_mean' is not defined

In [ ]:
sal = pd.DataFrame(salary)
sal.var(ddof=1)

Дисперсия (смещённая)

In [7]:
np.sum((salary - salary_mean)**2) / salary.size

NameError: name 'salary_mean' is not defined

In [ ]:
sal.var(ddof=0)

Дисперсия (несмещённая)

In [8]:
np.sum((salary - salary_mean)**2) / (salary.size - 1)

NameError: name 'salary_mean' is not defined

In [ ]:
sal.var(ddof=1)

### Задание 2

In [9]:
import seaborn as sns

In [10]:
data=pd.DataFrame(salary, columns = 'x')

TypeError: Index(...) must be called with a collection of some kind, 'x' was passed

In [11]:
data[['x']].boxplot()

NameError: name 'data' is not defined

In [12]:
q1 = data['x'].quantile(0.25)
q3 = data['x'].quantile(0.75)

NameError: name 'data' is not defined

In [13]:
iqr = q3 - q1

NameError: name 'q3' is not defined

### Задание 3

In [14]:
P = 1/4 * 0.8 + 1/4 * 0.7 + 1/2 * 0.9

Вероятность того, что это студент факультета А:

In [19]:
A = (1/4 * 0.8) / P
A

0.24242424242424246

In [ ]:
Вероятность того, что это студент факультета В:

In [20]:
B = (1/4 * 0.7) / P
B

0.21212121212121213

In [ ]:
Вероятность того, что это студент факультета С:

In [21]:
C = (1/2 * 0.9) / P
C

0.5454545454545455